html {
	--background-body: #222;
	--container-main: #333;
	--list-hover: #6c6c6c6c;
	--container-main-sub: #4d4d4d;

	--btn-main: #26ff0080;
	--btn-main-hover: #4d4d4d;

	--text-primary: white;
	--text-primaty-sub: #b3b3b3;
	--text-hover: #26ff0080;
}
